body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px; 
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.5em;
}


h1 {
  font-weight: bold;
  font-weight: 1.5rem;
}


header p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

@media (screen and min-width: 450px) {
  h1 { font-size: 40px; }
  header p { font-size: 20px;}
}

@media (screen and min-width: 700px) {
  h1 { font-size: 60px; }
}

@media (screen and min-width: 1100px) {
  h1 { font-size: 100px; }
}




article header,
.introduction {
  padding: 1rem;

  @media (min-width: 800px) {
    padding: 2rem;
  }
}

article header h1,
article header p,
article section h2,
article section p,
article section .introduction {
  max-width: 1000px;
  margin-left: 0;
  margin-right: auto;
}


article header {
  margin: 0;
  background-color: gold; color: black;
}

article section {
  margin: 0;
  background-color: whitesmoke;
}

article footer {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  background-color: whitesmoke;

}

.buy {
  background-color: black;
  color: white;
  display: inline-block;
  padding: .5em 1em;
  border-radius: .3em;
  text-decoration: none;
  margin-right: 1em;
}

.buy:hover {
  color: black;
  background-color: white;
}

.free-delivery {
  font-size: .8em;
  text-transform: uppercase;
}

.isbn {
  font-size: .8rem;
}

.introduction p,
.introduction h2 {
  max-width: 450px;
  margin: 1em auto;
}


#emoji {
  font-size: 3rem;
  line-height: 4rem;
  display: block;
}

#emoji-name {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  display: block;
}

#emoji-code {
  font-size: 0.8rem;
  color: grey;
  display: block;
}

.introduction {
  background-image: url('/images/cover.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 300px;
  max-width: 550px;

  @media (min-width: 1000px) {
   
    max-width: 850px;
    background-position: top right;
    padding-top: 1rem;

    p, h2 {
      margin-left: 0;
    }

  }
}